button{
    background-color: rgb(171, 182, 178);
    border-radius: 1px solid #fff;
}

.light {
  background-color: #f9f9f9;
  color: #1e1e1e;
  min-height: 100vh;
  padding: 20px;
  transition: all 0.3s ease;
}

.dark {
  background-color: #1e1e1e;
  color: #f9f9f9;
  min-height: 100vh;
  padding: 20px;
  transition: all 0.3s ease;
}